body,
html,
#root {
     height: 100%;
     overflow: hidden;
     font-family: "Fira Sans", sans-serif;
}
.bg {
     background: #292c31;
}
.menubar .active {
     background: linear-gradient(180deg, #ffffff40, transparent);
     border-radius: 333px 333px 0 0;
}
.App{
     max-width: 640px;
}